# --- Deepfake Project GitIgnore ---

# 1. Ignore the massive Datasets
#dataset/
#dataset/*

# 2. Ignore heavy trained models
*.pth
*.pt
*.onnx
ai_engine/checkpoints/

# 3. Ignore Python cache and environment
__pycache__/
*.pyc
.env
venv/
.venv/

# 4. Ignore System files
.DS_Store
Thumbs.db

# 5. Ignore Flutter app (complete folder)
frontend_app/